<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/encordecorder.css">
    <title>{{.title}}</title>
</head>
<body>
<header>
    <div class="nav">
        <button class="home_btn btn" onclick="window.location = 'http://localhost:8080/textsencordec'">
            <img src="http://localhost:9000/lab1/%D0%B4%D0%BE%D0%BC.png" class="home_img">
        </button>
    </div>
</header>
<div class="down_nav">
    <p class="text">Заказчик: Петров Никита Алексеевич</p>
</div>
<div class="cards">
    {{ range .card_data }}
    <div class="card">
        <div class="info">
            <img src="{{ .Text.Img }}" class="card_img">
            <p class="card_text text">{{ replaceNewline .EncType }}</p>
        </div>
        <div class="task">
            <p class="text description">{{ replaceNewline .Text.Text }}</p>
        </div>
    </div>
    {{ end }}
</div>
</body>
</html>