<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{.title}}</title>
</head>
<body>
<header>
    <div class="nav">
        <button class="home_btn btn" onclick="window.location = 'http://localhost:8080/cards'">
            <img src="http://localhost:9000/lab1/%D0%B4%D0%BE%D0%BC.png" class="home_img">
        </button>
    </div>
</header>
<div class="down_nav">
    <select name="type" id="type" class="selector btn text" onchange="window.location = 'http://localhost:8080/cards?query=' + this.value">
        <option value="">Тип</option>
        {{ if contains .query "en" }}
        <option value="en" selected>Шифрование</option>
        <option value="de">Дешифрование</option>
        {{ else if contains .query "de" }}
        <option value="en" >Шифрование</option>
        <option value="de" selected>Дешифрование</option>
        {{ else }}
        <option value="en" >Шифрование</option>
        <option value="de" >Дешифрование</option>
        {{ end }}
    </select>
    <button class="btn cart_btn" onclick="window.location = 'http://localhost:8080/cart'">
        <img src="http://localhost:9000/lab1/3.png" class="cart_img">
        <p class="cart_text text">Заявка</p>
    </button>
</div>
<div class="cards">
    {{ range .first_row }}
    <div class="card">
        <div class="info">
            <img src="{{ .First_img }}" class="card_img">
            <p class="card_text text">{{ .Name }}</p>
        </div>
        <div class="down">
            <button onclick="window.location = 'http://localhost:8080/card/{{ .Id }}'" class="card_button btn text">Подробнее</button>
            <img src="{{ .Second_img }}" class="card_img">
        </div>
    </div>
    {{ end }}
</div>
<div class="cards">
    {{ range .second_row }}
    <div class="card">
        <div class="info">
            <img src="{{ .First_img }}" class="card_img">
            <p class="card_text text">{{ .Name }}</p>
        </div>
        <div class="down">
            <button onclick="window.location = 'http://localhost:8080/card/{{ .Id }}'" class="card_button btn text">Подробнее</button>
            <img src="{{ .Second_img }}" class="card_img">
        </div>
    </div>
    {{ end }}
</div>
</body>
</html>