<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/text.css">
    <title>{{.title}}</title>
</head>
<body>
<header>
    <div class="nav">
        <button class="home_btn btn" onclick="window.location = 'http://localhost:8080/textsencordec'">
            <img src="http://localhost:9000/lab1/%D0%B4%D0%BE%D0%BC.png" class="home_img">
        </button>
    </div>
</header>
<div class="down_nav">
</div>
<div class="cards">
    <div class="card">
        <img src="{{ .card_data.Img }}" class="card_img">
        <div class="info">
            <p class="card_text text">{{ replaceNewline .card_data.Text }}</p>
            <select name="type" id="type" class="selector btn text">
                {{ if .card_data.Enc }}
                <option value="encryption">Изначальный</option>
                {{ else }}
                <option value="decryption">Зашифрованный</option>
                {{ end }}
            </select>
            <p class="text description">Длина в байтах: {{  .card_data.ByteLen }}</p>
        </div>
    </div>
</div>
</body>
</html>